<main>
  <section class="list-todo">
    <div class="list-todo-content">
      <h2>Withdraw Amount</h2>
      <form action="/withdraw-amount" method="post">
        <input class="add-todo__text" type="text" required value="" name="name" placeholder="Enter Name"></br>
        <input class="add-todo__text" type="text" required value="" name="userid" placeholder="Enter User ID"></br>
        <input class="add-todo__text" type="text" required value="" name="password" placeholder="Enter Password"></br>
        <input class="add-todo__text" type="text" required value="" name="withdraw" placeholder="Enter Amount to Withdraw"></br>

        <input class="add-todo__btn" type="submit" value="Withdraw Amount">
      </form>
    </div>
  </section>
</main>